@import '../../variables.scss';

$sidebar-bg-color: whitesmoke;
$sidebar-color: $oncokb-blue;
$submenu-bg-color: whitesmoke;
$sidebar-width: 200px;
$sidebar-collapsed-wdith: 80px;
$highlight-color: $oncokb-darker-blue;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.sidebar-wrapper {
  position: fixed;
  height: 100vh;
  z-index: 1000;

  .pro-sidebar .pro-menu {
    padding: 0 !important;
  }
}
