@import '../../variables.scss';

.generic-sidebar-expanded {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  border-left: 1px solid $medium-grey;
}

.generic-sidebar-collapsed {
  position: fixed;
  top: 0;
  right: 0;
}
