@import '../../variables.scss';

.oncokb-sidebar-expanded {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  border-left: 1px solid $medium-grey;
  overflow-y: auto;
  display: flex;
  transition: border-color 150ms ease-in;
}

.oncokb-sidebar-collapsed {
  position: fixed;
  top: 0;
  right: 0;
}

.draggable {
  width: 10px;
  background: linear-gradient(to right, $oncokb-blue 30%, transparent 30%);
  opacity: 0;
  transition: opacity 150ms ease-in;
}
