.flagWrapper {
  background-color: #e5e5e5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-left: 0.5rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
}
