services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    ports:
      - "9000:9000"
    command: yarn start-tls

  wdio:
    build: 
      context: .
      dockerfile:  ./docker/app/Dockerfile
    depends_on:
      chrome:
        condition: service_healthy
    volumes:
      - ./src/test/javascript/screenshots:/app/src/test/javascript/screenshots
    command: yarn run wdio 

  firebase:
    build:
      context: .
      dockerfile: ./docker/firebase/Dockerfile
    ports:
      - "9095:9095"
      - "9099:9099"
      - "4000:4000"
    command: firebase emulators:start --import firebase --project oncokb-curation-test-54b6c

  chrome:
    image: seleniarm/standalone-chromium # for those with m1 processors
    shm_size: 2g
    healthcheck:
      test: ["CMD", "/opt/bin/check-grid.sh", "--host", "0.0.0.0", "--port", "4444"]
    ports:
      - 4444:4444