@import '../../variables.scss';

.textarea {
  min-height: 100px !important;
  overflow-y: hidden;
  resize: none;
}
.summaryTextarea {
  min-height: 20px !important;
  overflow-y: hidden;
  resize: none;
}

.link {
  color: $oncokb-blue;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
