@import '../../variables.scss';

.textarea {
  min-height: 100px;
}
.summaryTextarea {
  min-height: 20px;
}

.link {
  color: $oncokb-blue;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
