.main {
  border-width: 0 !important;
}

.header {
  border: 0.5px solid $grey !important;
  border-left-width: 5px !important;
}

.hiddenHeaderLeftBorder {
  border-left-width: 1px !important;
}

.body {
  padding-top: 0.5rem !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 2rem !important;
}

.divider {
  height: 1rem;
  background: $grey;
  width: 1px;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.textarea {
  min-height: 100px !important;
}

.shortTextarea {
  min-height: 50px !important;
}

.summaryTextarea {
  min-height: 20px !important;
}

.collapsibleTitleWrapper {
  display: flex;
  align-items: center;
  :hover {
    cursor: pointer;
  }
}

.disabledCollapsible {
  :hover {
    cursor: default;
  }
}
