@import '../../../variables.scss';

.alterationBadge {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  display: flex;
  align-items: center;
  max-width: 49%;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;
}

.alterationBadgeName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-right: 5px;
  display: flex;
  padding: 8px;
  align-items: center;
}

.actionWrapper {
  flex-shrink: 0;
  display: flex;
  border-left: 1px dashed;
}

.deleteButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  cursor: pointer;
}

.alterationBadgeListInput {
  color: inherit;
  background: 0px center;
  opacity: 1;
  width: 100%;
  grid-area: 1 / 2;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0rem 0.375rem;
}

.alterationBadgeListInputWrapper {
  visibility: visible;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}
