@import '~oncokb-styles/scss/vars';
$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Navbar styles
========================================================================== */
.header {
  .navbar-brand {
  }

  .navbar {
    background-color: $oncokb-blue;

    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav {
      & > .nav-item {
        color: white;
        line-height: 2.75rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
