.filter-overlay {
  position: absolute;
  top: 15px;
  left: -200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  width: max-content;
}

.filter-overlay.date-filter {
  max-width: 600px;
}

.filter-overlay input[placeholder='Search'] {
  height: 28px;
  line-height: 1.2;
  padding: 4px 8px;
  font-size: 1rem;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.checkbox-list input[type='checkbox'] {
  margin-top: 5px;
}

.checkbox-list label {
  padding-left: 5px;
  font-size: 1rem;
  padding-left: 5px;
}

.filter-component {
  margin-left: 0.5rem;
}

.filter-icon {
  padding: 1px;
  &:hover {
    border-radius: 3px;
    background-color: #e0e1e2;
    cursor: pointer;
  }
}

.active-filter-circle {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $primary;
  border: 1px solid white;
}

.rc-tooltip-arrow {
  display: none !important;
}
