.genomic-indicators .ReactTable .rt-table {
  overflow: visible;
}

.genomic-indicators .ReactTable .rt-tbody {
  overflow: visible;
}

.genomic-indicators .ReactTable.-striped .rt-tr.-odd {
  background-color: transparent;
}
