name: Application CI
on: [ push, pull_request ]
jobs:
  applications:
    name: OncoKB Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12.16"
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
      - name: Install node.js packages
        run: npm install
      - name: Package application
        run: ./mvnw -ntp package -Pprod -DskipTests
