name: Application CI
on: [ push, pull_request ]
jobs:
  applications:
    name: OncoKB Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20.12.2"
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Install node.js packages
        run: npm install
      - name: Run screenshot tests
        run: yarn run screenshot-test
      - name: Package application
        run: ./mvnw -ntp package -Pprod
